:root {
    --colour-bg: #fff;
    --colour-bg-variation: #eee;
    --colour-bg-accent: #ddd;
    --colour-subaccent: rgb(158, 81, 81);
    --colour-chatarea: #eee;
    --colour-userbubbles: aquamarine;
    --colour-botbubbles: burlywood;
    --colour-shadow: rgb(0, 0, 0, 0.3);
}

#repobuddy-sidebar {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background: var(--colour-bg);
    box-shadow: -2px 0px 10px var(--colour-shadow);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#repobuddy-topbar {
    display: flex;
    flex-direction: row;
}

#repobuddy-dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    padding: 3px 8px;
    border-radius: 12px;
    background-color: var(--colour-subaccent);
}

#repobuddy-dropdown-button {
    flex: 1;
    text-overflow: ellipsis;
    background-color: transparent;
    outline: none;
    border: none;
    align-items: center;
    padding: 2px;
}

#repobuddy-dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 380px;
    max-height: 380px;
    background-color: #eee;
    box-shadow: 0px 3px 3px var(--colour-shadow);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#repobuddy-dropdown-checkboxes {
    padding: 3px 0px;
    width: 28px;
    box-shadow: -2px 0px 2px var(--colour-shadow);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    position: relative;
    z-index: 3;
}

.repobuddy-dropdown-subcheckboxes {
    display: flex;
    flex-direction: column;
}

#repobuddy-dropdown-list {
    padding: 3px 0px;
    flex: 1;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: none;
}

.repobuddy-dropdown-label {
    flex: 1;
    font-size: 13px;
    height: 20px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
}
.repobuddy-dropdown-checkbox {
    align-self: center;
    justify-content: center;
    min-height: 20px;
    max-height: 20px;
}

#repobuddy-selected-files-container {
    display: flex;
    flex-direction: column;
    height: 180px;
    margin-top: -1px;
    position: relative;
    z-index: 1000;
    background-color: var(--colour-bg-variation);
}

#repobuddy-selected-files-counter {
    box-shadow: 0px 2px 2px var(--colour-shadow);
    position: relative;
    z-index: 1000;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#repobuddy-selected-files-clear {
    cursor: pointer;
}

#repobuddy-selected-files {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;
    overflow-y: auto;
    padding: 8px;
}

.repobuddy-selected-file-button {
    background-color: var(--colour-bg-accent);
    border-radius: 8px;
    text-align: left;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    box-shadow: -2px 2px 2px var(--colour-shadow);
    padding: 3px;
    align-items: center;
}

#repobuddy-selected-files-send-button {
    height: 28px;
}


#repobuddy-chat-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--colour-chatarea);
    padding: 8px 8px;
    overflow-y: auto;
    gap: 8px;
}

.repobuddy-chat-bubbles {
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    font-size: medium;
}

.repobuddy-chat-bubbles.user {
    align-self: flex-end;
    background-color: var(--colour-userbubbles);
}

.repobuddy-chat-bubbles.bot {
    align-self: flex-start;
    background-color: var(--colour-botbubbles);
}

#repobuddy-input-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 10px;
    box-sizing: border-box;
    max-height: 130px;
    resize: none;
}